/* Validated with: https://jigsaw.w3.org/css-validator
VSCode plugins: CSSTree Validator 
*/

/* variables */
:root {
	--padding-std: 10px;
	--margin-std: 10px;
	--grayish: #eee;
	--blackish: #222222;
}


body {
    background-color: var(--blackish);
    color: white;
}

a {
    color: white;
    padding: var(--padding-std);
    display: inline-block;
}

.profile_selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; /* Lelijk; 100% of the viewport height
    width: 100vw; */
}

#profiles {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Needed when there are many profile names */
    justify-content: center;
    align-items: center;
    margin: var(--margin-std);
    ;
}

#profiles li {
    border: 2px solid white;
    background-color: var(--grayish);
    padding: var(--margin-std);
    color: black;
}

.game_selector {
    display: flex;
}

.container {
    border: 1px solid white;
    margin: var(--margin-std);
    padding: var(--padding-std);
}

.games {
    flex: 1; /* 1/3 of the width */
}

.board {
    flex: 2;
}